$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $purple;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 15px;
  line-height: 1;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 4px;
  color: $purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
